body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calc-containder {
    display: flex;
    flex-direction: column;     
}

#calc-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
       
}

#display {
    display: flex;
    justify-content: end;
    align-items: center;    
    border: solid black 1px;
    border-radius: 15px;
    width: 400px;
    height: 60px;
    margin-bottom: 10px;    
}
.number1,
.number2,
.symbol {
    margin-top: 10px;
    margin-bottom: 10px;    
    width: 15px;
}

#button-container {
    display: flex;    
    width: 404px;  

}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 100px;
    height: 300px;
    margin-top: 10px;
    padding: 5px;
}

.calc-button {
    width: 80px;
    height: 60px;
}

